# Python bytecode
__pycache__/
*.py[cod]
*$py.class


# Virtual environment
.venv/
venv/
ENV/
env/
uv.lock

# IDE
.idea/

# Ruff cache
.ruff_cache/

# Python version
.python-version

# WSL remains
*:Zone.Identifier

# Data files
*.json
*.xml
*overlay_data.js
data/html
data/images
*.sqlite
Cameras/*
